a {
  text-decoration: none;
  color: black;
}

.appbar-element {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  width: 50%;
}

@media screen and (max-width: 770px) {
  .appbar-element {
    width: 70%;
  }
}
@media screen and (max-width: 740px) {
  .appbar-element {
    display: none;
  }
}

/* #nav-btn-about,
#nav-btn-skill,
#nav-btn-work,
#nav-btn-contact {
  color: white;
} */

.page-logo {
  width: 11rem;
  padding: 0.5rem;
}

@media screen and (max-width: 760px) {
  .page-logo {
    width: 8rem;
  }
  .page-logo-div {
    margin-left: 2rem;
  }
}
