* {
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: auto;
}

.appbar-element {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 770px) {
  .appbar-element {
    width: 70%;
  }
}
@media screen and (max-width: 740px) {
  .appbar-element {
    display: none;
  }
}

/* #nav-btn-about,
#nav-btn-skill,
#nav-btn-work,
#nav-btn-contact {
  color: white;
} */

.page-logo {
  width: 10rem;
  padding: 0.2rem;
}

@media screen and (max-width: 426px) {
  .page-logo {
    width: 8rem;
  }
  .page-logo-div {
    margin-left: 2.2rem;
  }
}

.glass-bg {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
